/vendor
/node_modules
/public/build
/public/hot
/public/storage
.env
.env.backup
.phpunit.result.cache
.phpunit.cache/
vite.config.js.timestamp-*.mjs
docker-compose.override.yml
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
